.notification {
    background: purple;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 15px;
    border-style: double;
    border-radius: 7px;
  }
  
  .notification--success {
    color: rgb(0, 128, 0);
  }
  
  .notification--error {
    color: rgb(255, 0, 0);
  }